.main{
    width: 90%;
    margin: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}
.container img{
    border-radius: 5px;
}
.tab{
    background-color: #fafafa;
    border-radius: 5px;
}
.tab a{
    text-decoration: none;
    color: var(--primary);
}
.info{
    margin: 1em;
}
h4{
    margin: 1em 0;
}